@import url('/assets/fonts.css');
:root{
    --color-dark: rgb(14, 14, 14);
    --color-dark2: rgb(32, 32, 32);
    --color-dark3: rgb(22, 22, 22);
    --color-white: #fff;
    --color-green: rgb(103, 195, 80);
    --color-green2: rgb(51, 149, 26);
    --color-red: rgb(184, 40, 35);
    --color-red2: rgb(146, 22, 17);
}


body{
    font-family: var(--fonte-lato);
    background-color: var(--color-dark);
    color: var(--color-white);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}
.container-content{
    display: flex;
    flex-direction: column;
    gap: 4em;
}
.container-content-add{
    display: flex;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
}

#input-new-task,
#btn-new-task{
    border: none;
    font-size: 1em;
    outline: none;
    padding: 1em;
}
#input-new-task{
    width: 20em;
    border-radius: 1.5rem;
}
#btn-new-task{
    background-color: var(--color-dark2);
    color: var(--color-white);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: .4s;
}
#btn-new-task:hover{
    background-color: var(--color-dark3);
}

#to-do-list{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0;
}
#to-do-list li{
    list-style-type: none;
    font-size: 1.4em;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#to-do-list li:hover{
    background-color: var(--color-dark3);
    transition: .4s;
    border-radius: 1rem;
    padding-left: 1em;
}
#btn-ok{
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: .4rem .8rem;
    background-color: var(--color-green);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .4s;
}
#btn-ok:hover{
    background-color: var(--color-green2);
}
@media screen and (max-width: 720px){
    .container-content-add{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}